.swagger-section #header {
  background-color: #002868;
  overflow: hidden;
}
.swagger-section #header form#api_selector .input a#explore {
  background-color: #bf0a30;
}
.swagger-section #header form#api_selector .input a#explore:hover {
  background-color: #ef0d3c;
}
.swagger-section .swagger-ui-wrap a {
  color: #c36c2d;
}
.swagger-section #header a#logo {
  display: block;
  float: left;
  width: 135px;
  height: 27px;
  background: transparent url(../img/logo.svg) no-repeat left center;
  background-size: 135px 40px;
  font-size: 0;
  padding: 5px 0;
  margin: -5px 0;
  text-decoration: none;
  color: white;
}
