@taccblue: #002868;
@taccred: #bf0a30;
@utbrand: #C36C2D;

.swagger-section #header {
  background-color: @taccblue;
  overflow: hidden;
}

.swagger-section #header form#api_selector .input a#explore {
  background-color: @taccred;
}

.swagger-section #header form#api_selector .input a#explore:hover {
  background-color: lighten(@taccred, 10%);
}

.swagger-section .swagger-ui-wrap a {
  color: @utbrand;
}

.swagger-section #header a#logo {
  display: block;
  float: left;
  width: 135px;
  height: 27px;
  background: transparent url(../img/logo.svg) no-repeat left center;
  background-size: 135px 40px;
  font-size: 0;
  padding: 5px 0;
  margin: -5px 0;
  text-decoration: none;
  color: white;
}
